@using LaptopVendorRetry.Models.ViewModels;
@model AddBrandViewModel;


<form method="post">
    <div class="col-12 d-flex flex-column justify-content-center">
        <div class="col-12 d-flex flex-column mb-4">
            <p>Brand Name</p>
            <input class="form-control" asp-for="Name">

        <input type="submit" class="col-12 btn btn-primary" value="Create" />
    </div>
</form>
