@model List<Brand>;

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Brand b in Model)
        {
            <tr>
                <td>@b.Name</td>
            </tr>
        }
    </tbody>
</table>