@model List<Brand>;

<p>Add new brand: <a asp-controller="Brands" asp-action="Add">Click Here</a></p>
<p>Remove brand: <a asp-controller="Brands" asp-action="Remove">Click Here</a></p>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Brand b in Model)
        {
            <tr>
                <td>@b.Name</td>
            </tr>
        }
    </tbody>
</table>