@model int;

@{
    if (Model == 0)
    {
        // successfully added laptop
        <p>Laptop has been successfully added.</p>
    }
    else if (Model == 1)
    {
        // failed adding laptop
        <p>Adding laptop has failed.</p>
        <p><a asp-controller="Laptops" asp-action="Add">Click Here</a> to retry.</p>
    }
    else if (Model == 2)
    {
        // successfully removed laptop
        <p>Laptop has been successfully removed.</p>
    }
    else if (Model == 3)
    {
        // failed removing laptop
        <p>Removing laptop has failed.</p>
        <p><a asp-controller="Laptops" asp-action="Remove">Click Here</a> to retry.</p>
    }
}